{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
<hr>

<div class="container-md">
    <h3 class="display-4"><u>Add A Task</u></h3>
    {% if error_message %}<p><font color="red"><strong>{{ error_message }}</strong></font></p>{% endif %}
    <form action="{% url 'tasks:add_task' %}" method='post'>
    {% csrf_token %}
        <input type="hidden" value="{{user.id}}" id="user" name="user">
        <div class="form-group">
            <label for="{{ form.task_name.name }}"><b>Task Name</b></label>
            <input class="form-control" type="text" id="{{ form.task_name.name }}" name="{{ form.task_name.name }}">
        </div>
        <div class="form-group">
            <label><b>Due Date</b></label>
            {{ form.end_time }}
        </div>
        <div class="form-group form-row">
            <div class="col">
                <label><b>Estimated Length</b></label>
            </div>
            <div class="col">
                <input class="form-control" type="number" id="{{ form.hours.name }}" name="{{ form.hours.name }}" placeholder="Hours">
            </div>
            <div class="col text-left">
                <p class="lead">hr</p>
            </div>
            <div class="col">
                <input class="form-control" type="number" id="{{ form.minutes.name }}" name="{{ form.minutes.name }}" placeholder="Minutes">
            </div>
            <div class="col text-left">
                <p class="lead">min</p>
            </div>
        </div>
        <div class="form-group">
            <label for="category"><b>Category</b></label>
            <select name="category" id="category" class="custom-select">
            {% for choice in form.category.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <label for="{{ form.task_desc.name }}"><b>Task Description</b> (<i>*Optional*</i>)</label>
            <input class="form-control" type="text" id="{{ form.task_desc.name }}" name="{{ form.task_desc.name }}" value="">
        </div>
        <div class="form-group">
            <label for="link"><b>Link</b> (<i>*Optional*</i>)</label>
            <input class="form-control" type="url" id="link" name="link" value="">
        </div>

        <div class = "form-group form-row">
            <div class="col">
                <label><b>Repeat Task 'X' Times</b> (<i>*Optional*</i>) </label>
                 <input class = "form-control" type="number" min="0" value="0" name="times" id="times" required> </input>
            </div>
            <div class="col">
                 <label for="repeat"> <b>With The Below Frequency</b>  (<i>*Optional*</i>)</label>
                <select name = "frequency" id="repeat" class="custom-select">
                    <option value="once">Add Task</option>
                    <option value="weekly">Add Task Weekly</option>
                    <option value="monthly">Add Task Monthly</option>
                    <option value="annually">Add Task Annually</option>
                </select>
            </div>
        </div>

        <div class = "row row-centered" style="padding-left: 15px;">
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
        </div>

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>
<hr>
{% endblock %}
