{% extends 'base.html' %}
{% block content %}
<div class="container-md">
    <h3>Add a Task:</h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'tasks:add_task' %}" method='post'>
    {% csrf_token %}
        <input type="hidden" value="{{user.id}}" id="user" name="user">
        <div class="form-group">
            <label for="task_name">Task Name</label>
            <input class="form-control" type="text" id="task_name" name="task_name" required>
        </div>
        <div class="form-group">
            <label for="task_desc">Task Desc</label>
            <input class="form-control" type="text" id="task_desc" name="task_desc" required>
        </div>
        <div class="form-group">
            <label for="link">Link (Optional)</label>
            <input class="form-control" type="url" id="link" name="link" value="">
        </div>
        <div class="form-group">
            <label for="start_time">Start Time</label>    
            <input class="form-control" type="datetime-local" id="start_time" name="start_time" required>
        </div>
        <div class="form-group">
            <label for="end_time">End Time</label>
            <input class="form-control" type="datetime-local" id="end_time" name="end_time" required>
        </div>
        <button class="btn-primary" type="submit">
            Submit
        </button>
        <select id="repeat" name="repeat">
            <option value="once">Add Task</option>
            <option value="weekly">Add Task Weekly</option>
            <option value="monthly">Add Task Monthly</option>
            <option value="annually">Add Task Annually</option>
        </select>
        Repeat <input type="number" min="1" name="times" id="times" required> </input> times.
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}
