{% extends 'base.html' %}
{% block content %}

<style>
    .flex-container
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: column;
    }
    .list-group-item {
        min-width: 810px;
    }
    .border-0.btn-transition.btn {
        height: 26px;
        width: 10px;
    }
    .fa.fa-trash {
        transform: translate(-50%, -40%);
    }
    .fa.fa-archive {
        transform: translate(-50%, -40%);
    }
    .fa.fa-edit {
        transform: translate(-50%, -35%);
    }
</style>
<div class = "flex-container">
    <center><h2>Welcome, {{user.username}}! Let's get started: </h2></center>
    <hr>
    <div class = "task-list">
        {% if task_list|length >= 5 %}
            <h4>Next 5 Tasks: </h4>
        {% elif task_list|length > 1 %}
            <h4>Next {{ task_list|length }} Tasks: </h4>
        {% elif task_list|length == 1 %}
            <h4>Last Task: </h4>
        {% else %}
            <h4>You have 0 future tasks.</h4>
        {% endif %}
        {% if task_list %}
        <div class="list-group list-group-flush">
            <!-- Individual Tasks -->
            {% for task in task_list %}
                {% if not task.completed %}
                    <li class="list-group-item">
                {% else %}
                    <li class="list-group-item" style="background-color: #80ff80;">
                {% endif %}
                    <div class="d-flex">
                        <div class="widget-content-left">
                            <!-- Checkbox form: Credit to Henry -->
                            {% if not task.completed %}
                                <form action="{% url 'tasks:check_off' %}" method='post' id="check_{{ task.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value='{{task.id}}'>
                                    <!--<input class="form-check-input" type="checkbox"
                                    onclick="document.getElementById('check_{{ task.id }}').submit();">-->
                                    <div class="custom-checkbox custom-control">
                                        <input class="custom-control-input" type="checkbox" id="_{{ task.id }}"
                                               onclick="document.getElementById('check_{{ task.id }}').submit();">
                                        <label class="custom-control-label" for="_{{ task.id }}">
                                            <h5 class="widget-heading" style="padding-right: 10px;">
                                            {% if task.link == '' %}
                                                {{ task.task_name }}
                                            {% else %}
                                                <a href="{{ task.link }}">{{ task.task_name }}</a>
                                            {% endif %}

                                            {% if task.category == 'Homework' %}
                                                <div class="badge badge-primary ml-2">{{ task.category }}</div>
                                            {% elif task.category == 'Chore' %}
                                                <div class="badge badge-warning ml-2">{{ task.category }}</div>
                                            {% elif task.category == 'Work' %}
                                                <div class="badge badge-danger ml-2">{{ task.category }}</div>
                                            {% elif task.category == 'Errand' %}
                                               <div class="badge badge-info ml-2">{{ task.category }}</div>
                                            {% elif task.category == 'Life' %}
                                                <div class="badge badge-success ml-2">{{ task.category }}</div>
                                            {% elif task.category == 'Other' %}
                                                <div class="badge badge-secondary ml-2">{{ task.category }}</div>
                                            {% else %}
                                                <div class="badge badge-light ml-2">Category</div>
                                            {% endif %}
                                            </h5>
                                        </label>
                                    </div>
                                </form>
                            {% else %}
                                <form action="{% url 'tasks:uncheck' %}" method='post' id="uncheck_{{ task.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value='{{task.id}}'>
                                    <div class="custom-checkbox custom-control">
                                        <input class="custom-control-input" type="checkbox" id="__{{ task.id }}"
                                               onclick="document.getElementById('uncheck_{{ task.id }}').submit();" checked>
                                        <label class="custom-control-label" for="__{{ task.id }}">
                                            <h5 class="widget-heading" style="text-decoration: line-through;">
                                            {% if task.link == '' %}
                                                {{ task.task_name }}
                                            {% else %}
                                                <a href="{{ task.link }}">{{ task.task_name }}</a>
                                            {% endif %}

                                            {% if task.category == 'Homework' %}
                                                <div class="badge badge-primary ml-2" style="text-decoration: line-through;">{{ task.category }}</div>
                                            {% elif task.category == 'Chore' %}
                                                <div class="badge badge-warning ml-2" style="text-decoration: line-through;">{{ task.category }}</div>
                                            {% elif task.category == 'Work' %}
                                                <div class="badge badge-danger ml-2" style="text-decoration: line-through;">{{ task.category }}</div>
                                            {% elif task.category == 'Errand' %}
                                               <div class="badge badge-info ml-2" style="text-decoration: line-through;">{{ task.category }}</div>
                                            {% elif task.category == 'Life' %}
                                                <div class="badge badge-success ml-2" style="text-decoration: line-through;">{{ task.category }}</div>
                                            {% elif task.category == 'Other' %}
                                                <div class="badge badge-secondary ml-2" style="text-decoration: line-through;">{{ task.category }}</div>
                                            {% else %}
                                                <div class="badge badge-light ml-2" style="text-decoration: line-through;">Category</div>
                                            {% endif %}
                                            </h5>
    <!--                                        <h5 class="widget-heading" style="color:green">COMPLETE!</h5>-->
                                        </label>
                                    </div>

                                </form>
                            <script>
                                function undoButton(button) {
                                    document.getElementById(button.id).innerHTML = "Undo?";
                                    document.getElementById(button.id).style = "color:red";
                                }
                                function normalButton(button) {
                                    document.getElementById(button.id).innerHTML = "Completed!";
                                    document.getElementById(button.id).style = "color:green";
                                }
                            </script>

                            {% endif %}
                            <!-- End of Henry's form -->
                        </div>
                        <div class="ml-auto">
                            <div class="d-flex">
                                <div class="ml-auto">
                                    <form action="{% url 'tasks:edit_task' %}" method='get' id="edit_{{ task.id }}">
                                        <input type="hidden" name="task_id" value="{{task.id}}">
                                        <button class="border-0 btn-transition btn btn-outline-success" data-toggle="tooltip" title="Edit"
                                                onclick="document.getElementId('edit_{{ task.id }}').submit();">
                                            <i class="fa fa-edit"></i> </button>
                                    </form>
                                </div>
                                <div class="ml-auto">
                                    <form action="{% url 'tasks:archive_task' %}" method='post' id="archive_{{ task.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="task_id" value="{{task.id}}">
                                        <button class="border-0 btn-transition btn btn-outline-warning" data-toggle="tooltip" title="Archive"
                                                onclick="document.getElementId('archive_{{ task.id }}').submit();">
                                            <i class="fa fa-archive"></i> </button>
                                    </form>
                                </div>
                                <div class="ml-auto">
                                    <form action="{% url 'tasks:delete_task' %}" method='post' id="delete_{{ task.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="task_id" value="{{task.id}}">
                                        <button class="border-0 btn-transition btn btn-outline-danger" data-toggle="tooltip" title="Delete"
                                                onclick="document.getElementId('delete_{{ task.id }}').submit();">
                                            <i class="fa fa-trash"></i> </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if not task.completed %}
                        <div class="widget-heading"><b><i>DUE:</i> {{ task.end_time }}</b></div>
                    {% else %}
                        <div class="widget-heading" style="text-decoration: line-through;"><b><i>DUE:</i> {{ task.end_time }}</b></div>
                    {% endif %}
                    <div class="todo-indicator bg-warning"></div>
                </li>
            {% endfor %}
            <!-- End task -->
        </div>
        {% else %}
            <p><a href="{% url 'tasks:add_task' %}">Click here to add a new one!</a></p>
        {% endif %}
    </div>
</div>
<hr>
<div class = "flex-container">
    <h4>Stats Summary: </h4>
    <div class = "stats">
        <div class = "boxed">
            <ul class="list-group list-group-flush">
                <li class="list-group-item lead">
                    Tasks Left This Week: <b>{{tasks_left}}</b>
                </li>
                <li class="list-group-item lead">
                    Estimated Time Required: <b>{{est_hours}} <i>hours</i> {{est_minutes}} <i>minutes</i></b>
                </li>
                <li class="list-group-item lead">
                    {% load static %}
                    Tasks Completed This Week: <b>{{state}}</b>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="row justify-content-center">
    <div class = "container col-md-8">
        {{ calendar }}
    </div>
</div>
{% endblock %}