{% extends 'base.html' %}
{% block content %}

<style>
    .flex-container
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row;
    }
</style> 
<div class = "container">
    <h1 align="center">Hello, {{user.username}}! Let's get to work:</h1> 
    <hr>
    <div class = "tasks">
        put next 5 tasks here
    </div>
</div>
<hr>
<hr>
<div class = "flex-container">
    <div class = "stats">
        <div class = "boxed">
            <ul class="list-group list-group-flush">
                <li class="list-group-item lead">
                    Tasks Left This Week: <b>{{tasks_left}}</b>
                </li>
                <li class="list-group-item lead">
                    Estimated Time Required: <b>{{est_hours}} <i>hours</i> {{est_minutes}} <i>minutes</i></b>
                </li>
                <li class="list-group-item lead">
                    {% load static %}
                    How You Are Doing: <b>{{state}}</b>
                </li>
            </ul>
        </div>

    </div>
    <div class = "calendar">
        Calendar
    </div>
</div>
{% endblock %}