{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<div {{valid}}>
    <ul class="list-group list-group-flush">
        <li class="list-group-item lead">
            Tasks Completed Since the Beginning of Time: <b>{{completed}}</b>
        </li>
        <li class="list-group-item lead">
            Percent Tasks Completed On Time: <b>{{ratio_on_time}}%</b>
        </li>
        <li class="list-group-item lead">
            Average Tasks Per Day (<i>Since First Completed Task</i>): <b>{{avg}}</b>
        </li>
    </ul>
    <hr>
    {{ chart.as_html }}
    <hr>
</div>
<p {{show_bad_prompt}}>
    No tasks appear for you in the database.
</p>
{% endblock %}