{% extends 'base.html' %}
{% block content %}
<div {{valid}}>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});


    </script>
    <p>Percent Tasks Completed by Category</p>
    {{pie}}
    <p>Tasks Completed Since the Beginning of Time: {{completed}}</p>
    <br>
    <p>Percent Tasks Completed On Time: {{ratio_on_time}} %</p>
    <br>
    <p>Average Tasks Per Day (Since First Completed Task): {{avg}}</p>
    {{ chart.as_html }}
    <form action="{% url 'tasks:stats' %}" method="get">
        <p>How many weeks back would you like to see your completion history?</p>
        <select name="weeks" id="weeks" class="custom-select">
            <option value="1">Past Week</option>
            <option value="2">Past 2 Weeks</option>
            <option value="3">Past 3 Weeks</option>
            <option value="4">Past 4 Week</option>
        </select>
        <p>Display graph for check categories:</p> <br>
        <input type="checkbox" id="all" name="all" checked>
        <label for="all">All</label>
        <input type="checkbox" id="Homework" name="Homework"
        >
        <label for="Homework">Homework</label>
        <input type="checkbox" id="Work" name="Work"
        >
        <label for="Work">Work</label>
        <input type="checkbox" id="Chore" name="Chore"
        >
        <label for="Chore">Chore</label>
        <input type="checkbox" id="Errand" name="Errand"
        >
        <label for="Errand">Errand</label>
        <input type="checkbox" id="Lifestyle" name="Lifestyle"
        >
        <label for="Lifestyle">Life</label>
        <input type="checkbox" id="Other" name="Other"
        >
        <label for="Other">Other</label>
        <button class="btn-primary" type="submit">
            Submit
        </button>
    </form>
</div>
<p {{show_bad_prompt}}>
    No tasks appear for you in the database.
</p>
{% endblock %}