{% extends 'base.html' %}
{% block content %}

{% if request.user.is_authenticated %}

<style>
    .border-0.btn-transition.btn.btn-outline-danger {
        height: 26px;
        width: 10px;
    }
</style>
<style>
    .fa.fa-trash {
        transform: translate(-50%, -40%);
    }
</style>
<style> .list-group-item{ padding: 12px; } </style>
<hr>
<h1 align="center">Hello {{user.username}}, Good to see you!</h1>
{% if error_message %}<p><font color="red"><strong>{{ error_message }}</strong></font></p>{% endif %}
<hr>
<form action="{% url 'tasks:filter_tasks' %}" method="post" style="margin-bottom:10px">
    {% csrf_token %}
    <div class="input-group">
    <input type="hidden" value="{{user.id}}" id="user" name="user">
    <button type="submit" class="btn btn-danger" name="reset-button" style="margin-right:10px">
        Reset Filters
    </button>
    <input class="form-control" type="text" placeholder="Filtered Input" name="filter_key">
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" style="margin-left:10px">
            Filter
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!--<span class="sr-only">Toggle Dropdown</span>-->
          <span class="fa fa-filter"></span>
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button">Filter on the following:</button>
          <div class="dropdown-divider"></div>
            {% for name, real_value in fields %}
                <div>
                    <input type="checkbox" name="tag[]" value="{{ forloop.counter0 }}" style="padding-left:10px"><span style="padding-left:10px">{{ name }}</span>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
</form>
<!-- Example single danger button -->
<center>
    <form action="{% url 'tasks:list' %}" method="get" style="margin-bottom:20px">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
        <!--<i class="fa fa-sort"style="margin-left:5px"></i>-->
        </button>
        <div class="dropdown-menu">
            <button type="submit" class="dropdown-item" name="sort_by" value="task_name">Task Name</button>
            <button type="submit" class="dropdown-item" name="sort_by" value="end_time">Due Date</button>
            <button type="submit" class="dropdown-item" name="sort_by" value="category">Category</button>
        </div>
    </div>
    </form>
</center>
<hr>
<div class="row d-flex justify-content-center container">
    <div>
        <div class="card">
            <div class="card-header">
                <div class="card-header-title lead"><i class="fa fa-tasks"></i>&nbsp;Tasks</div>
            </div>
            <div class="scroll-area-sm">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            <div class="list-group list-group-flush">

                                <!-- Individual Tasks -->
                                {% for task in task_list %}
                                <li class="list-group-item">
                                    <div class="d-flex">
                                        <div class="widget-content-left">
                                            <!-- Checkbox form: Credit to Henry -->
                                            {% if not task.completed %}
                                            <form action="{% url 'tasks:check_off' %}" method='post' id="check_{{ task.id }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="task_id" value='{{task.id}}'>
                                                <!--<input class="form-check-input" type="checkbox"
                                                onclick="document.getElementById('check_{{ task.id }}').submit();">-->
                                                <div class="custom-checkbox custom-control">
                                                    <input class="custom-control-input" type="checkbox" id="_{{ task.id }}"
                                                           onclick="document.getElementById('check_{{ task.id }}').submit();">
                                                    <label class="custom-control-label" for="_{{ task.id }}">
                                                        <h5 class="widget-heading">
                                                        {% if task.link == '' %}
                                                            {{ task.task_name }}
                                                        {% else %}
                                                            <a href="{{ task.link }}">{{ task.task_name }}</a>
                                                        {% endif %}

                                                        {% if task.category == 'Homework' %}
                                                            <div class="badge badge-primary ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Chore' %}
                                                            <div class="badge badge-warning ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Work' %}
                                                            <div class="badge badge-danger ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Errand' %}
                                                           <div class="badge badge-info ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Life' %}
                                                            <div class="badge badge-success ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Other' %}
                                                            <div class="badge badge-secondary ml-2">{{ task.category }}</div>
                                                        {% else %}
                                                            <div class="badge badge-light ml-2">Category</div>
                                                        {% endif %}
                                                        </h5>
                                                    </label>
                                                </div>

                                            </form>
                                            {% else %}
                                            <form action="{% url 'tasks:uncheck' %}" method='post' id="uncheck_{{ task.id }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="task_id" value='{{task.id}}'>
                                                <div class="custom-checkbox custom-control">
                                                    <input class="custom-control-input" type="checkbox" id="__{{ task.id }}"
                                                           onclick="document.getElementById('uncheck_{{ task.id }}').submit();" checked>
                                                    <label class="custom-control-label" for="__{{ task.id }}">
                                                        <h5 class="widget-heading">
                                                        {% if task.link == '' %}
                                                            {{ task.task_name }}
                                                        {% else %}
                                                            <a href="{{ task.link }}">{{ task.task_name }}</a>
                                                        {% endif %}

                                                        {% if task.category == 'Homework' %}
                                                            <div class="badge badge-primary ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Chore' %}
                                                            <div class="badge badge-warning ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Work' %}
                                                            <div class="badge badge-danger ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Errand' %}
                                                           <div class="badge badge-info ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Life' %}
                                                            <div class="badge badge-success ml-2">{{ task.category }}</div>
                                                        {% elif task.category == 'Other' %}
                                                            <div class="badge badge-secondary ml-2">{{ task.category }}</div>
                                                        {% else %}
                                                            <div class="badge badge-light ml-2">Category</div>
                                                        {% endif %}
                                                        </h5>
                                                        <h5 class="widget-heading" style="color:green">COMPLETE!</h5>
                                                    </label>
                                                </div>

                                            </form>
                                            <script>
                                                function undoButton(button) {
                                                    document.getElementById(button.id).innerHTML = "Undo?";
                                                    document.getElementById(button.id).style = "color:red";
                                                }
                                                function normalButton(button) {
                                                    document.getElementById(button.id).innerHTML = "Completed!";
                                                    document.getElementById(button.id).style = "color:green";
                                                }
                                            </script>

                                            {% endif %}
                                            <!-- End of Henry's form -->
                                        </div>
                                        <div class="ml-auto">
                                            <div class="d-flex">
                                                <div class="ml-auto">
                                                    <small class="text-muted">{{task.length}}</small>
                                                </div>
                                                <div class="ml-auto">
                                                    <form action="{% url 'tasks:delete_task' %}" method='post' id="delete_{{ task.id }}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="task_id" value="{{task.id}}">
                                                        <button class="border-0 btn-transition btn btn-outline-danger" onclick="document.getElementId('delete_{{ task.id }}').submit();">
                                                            <i class="fa fa-trash"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
<!--                                        <div class="ml-auto">-->
<!--                                            -->
<!--                                        </div>-->
                                    </div>
                                    <p class="mb-1">{{ task.task_desc }}</p>
                                    <div class="widget-heading"><b><i>DUE:</i> {{ task.end_time }}</b></div>
                                    <div class="todo-indicator bg-warning"></div>
                                </li>
                                {% endfor %}
                                <!-- End task -->

                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="text-right card-footer">
                <a href="{% url 'tasks:add_task' %}"><button class="btn btn-primary" id="add_button" role="button">Add Task</button></a>
                <a href="{% url 'tasks:archive_finished' %}"><button class="btn btn-danger" id="del_all_button" role="button">Archive Finished</button></a>
            </div>
        </div>
    </div>
</div>
<hr>
{% else %}
<label>Please login.</label>
{% endif %}


{% endblock %}