<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="icon" href="{% static 'dashboard/images/Wildard_logo.png'%}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">Dashboard </a> <!--Change href to base page or something-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            {% if request.user.is_authenticated %}

             <a class="nav-item nav-link" href="{% url 'tasks:index' %}">Home</a>

             <a class="nav-item nav-link" href="{% url 'tasks:list' %}">Task List</a>
             <a class="nav-item nav-link" href="{% url 'tasks:add_task' %}">Add Task<span class="sr-only"></span></a> <!--change all hrefs-->
             <a class="nav-item nav-link" href="{% url 'tasks:stats' %}">Statistics</a>
             <a class="nav-item nav-link" href="{% url 'tasks:calendar' %}">Calendar</a>
            {% endif %}
            </div>
        </div>
        <div>
          {% if user.is_authenticated %}
          <a class="text-white">Logged in as: &nbsp{{user.username}}&nbsp</a>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}" role = "button">Login</a>
        {% endif %}
        </div>  
        <!--<a href="/admin"><button class="btn btn-danger my-2 my-sm-0" type="submit">Admin Settings</button></a>-->
    </nav>
    <div class="Dashboard">
      <style>
        .Dashboard
        {
          margin: 0 auto;
          max-width: 100%;
          
        }
      </style>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <!--<h1 class="mt-2">Django Practice</h1>-->
            <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
    <div class="footer-spacer"></div>
    <footer class="page-footer font-small blue pt-4 bg-dark my-sticky-footer" style="min-height: 15vh;">
      <div class="container text-center">
        <span class="text-muted font-weight-light">Created by team WILDCARD!: Andrew Boyd, Henry Carscadden, Jimmy Chiou, Ashwin Pathi, Gabriel Simmons</span>
        <hr>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>